#!/usr/bin/make -f

INITSCRIPT=n516-format-storage.init

clean:
	dh_testdir
	dh_testroot
	dh_clean

	-rm -f debian/n516-format-storage.init debian/azbooka-n516-format-storage.init

build:
	sed -e 's/@VOLUME@/OpenInkpot/' < debian/$(INITSCRIPT).in > debian/$(INITSCRIPT)
	sed -e 's/@VOLUME@/Azbooka/' < debian/$(INITSCRIPT).in > debian/azbooka-$(INITSCRIPT)

install: build
	dh_testdir
	dh_testroot
	dh_prep

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installinit --no-start -- start 37 S .
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
